* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  /* =================================Navbar section============================================ */

}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.active, .nav-item:hover {
  /* background-color: rgba(186, 123, 72, 0.253); */
  /* background-color:rgba(186, 123, 72, 0.26);*/
  border-bottom: 2px solid #000000;
  
}

.navbar {
  background-color:  #DBC295;
  padding: 0 !important;
  /* height: 70px; */
}
.navbar-brand img {
  height: 50px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #000000 !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars {
  color: #000000;
  font-size: 30px !important;
}
.navbar-toggler {
  outline: none !important;
}
  /* <!------------Page-2 Frame Section --------------> */

.Featured-category{
margin: 40px 0;
}

.Featured-category img{
  width:100%;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
}

.wrapper button{
 background: #000000;
  text-align: center;
  color: #fff;
  padding: 8px;
  box-shadow: none !important;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 60px;
}
.wrapper button:hover{
  color: #fff;
  background: #BA7B48;
}
/* <!-- ========================More Nike products Section===================================== --> */

.more-products{
margin: 30px 0;
}

.title-box{
  background-color: #00b894;
  color: #fff;
  width: 190px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 3px;
}

.title-box h3{
  font-size: 24px;
}


.title-box::after{
  content: '';
  border-top: 40px solid #00b894;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 179px;
}

.more-products img{
  width:100%;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
}

.wrapper {
    text-align: center;
}

.wrapper .btn{
  z-index: 1;
  top: 20%;

}

.More-products .btn {
  background: #000000;
  text-align: center;
  color: #fff;
  padding: 8px;
  width: 99px;
  /* border-radius: 19px; */
  box-shadow: none !important;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 60px;
}

.More-products .btn:hover{
 color: #fff;
}

/* <!------------Footer Section--------------> */

#footer {
  background: #1C2A2E;
  /* background: #fff; */
  color: #DBC295;
}

#footer p {
  font-size: 16px;
}

.logo-img {
  position: absolute;
  height:80%;
  margin-bottom: 20px;
  margin-top: 15%;
  margin-left: -40%; 
}

#p1 {
  text-align: justify;
  width: 80%;
}

.footer-box .fas {
  margin-right: 8px;
  font-size: 25px;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  background:#BA7B48;
  text-align: center;
  padding-top: 5px;
}

.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  margin-top: 20px;
  max-width: 260px;
  background-color: #DBC295;
}
/* .footer-box .form-control {
    color: #f00;
} */

.footer-box button {
  background: #BA7B48;
  text-align: center;
  color: #DBC295;
  padding: 7px;
  max-width: 100px;
  box-shadow: none !important;
  border: none;
}

.btn-primary:hover{
  color: #BA7B48;
}

.address:hover {
  border-bottom: 1px solid #BA7B48;
  color: #BA7B48;
}

.para {
  margin-top: 10%;
}

hr {
  background: #BA7B48;
}

.copyright{
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 20px; 
  font-size: 13px;
}

.social-icons .fab{
  text-align: center;
  color:#BA7B48;
  transition: 0.5s;
  padding: 5px;
}

.social-icons a:hover i {
  transform: translateY(-6px);
}

#icon{
  color: #1C2A2E;
}



  @media screen and (min-width:360px){
    
.logo-img {
  position: absolute;
  height:75%;
  margin-bottom: 20px;
  margin-left: -40%; 
  margin-top: 25%;
}

}
 
@media screen and (min-width:1000px){
    
.logo-img {
  position: absolute;
  height:75%;
  margin-bottom: 20px;
  margin-left: 9%; 
  margin-top: 18%;
}
}

/* ================================= CSS for Men Page started============================================ */





